.Pagination {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.PaginationButtonContainer {
  width: 8rem;
}

.PaginationButton {
  padding-top: 0.4rem;
  width: 100%;
  background-color: #04db6d;
  color: #000000;
  cursor: pointer;
}

.PaginationPerPageSelectWrapper {
  display: inline-block;
  width: 3rem;
}
