.Input {
  margin: 1rem 0;
  width: 100%;
  box-sizing: border-box;
}

.Label {
  color: #ffb600;
  font-weight: bold;
  text-transform: capitalize;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
  color: #000000;
  font: inherit;
  padding: 0.4rem 0.8rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
}

.InputElement:focus {
  outline: none;
  background-color: #dbdbdb;
}

.Invalid {
  border: 1px solid #db0001;
  background-color: #ff926d;
}

.Error {
  color: #db0001;
  margin: 5px 0;
}
